<div class="w-full min-h-screen bg-gray-50 flex flex-col sm:justify-center items-center pt-6 sm:pt-0">
  <div class="w-full sm:max-w-md p-5 mx-auto">
    <h2 class="mb-12 text-center text-5xl font-extrabold">新規登録</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |new_user| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="mb-4">
      <%= new_user.label :name, '名前', class: 'block mb-1' %>
      <%= new_user.text_field :name, class: 'py-2 px-3 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full', placeholder: '(例)国民的美少女' %>
    </div>
    <div class="mb-4">
      <%= new_user.label :email, 'メールアドレス', class: 'block mb-1' %>
      <%= new_user.email_field :email, class: 'py-2 px-3 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full', placeholder: '(例)hoge@example.com' %>
    </div>
    <div class="mb-4">
      <%= new_user.label :password, 'パスワード', class: 'block mb-1' %>
      <%= new_user.password_field :password, class: 'py-2 px-3 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full', placeholder: '6文字以上' %>
    </div>
    <div class="mb-4">
      <%= new_user.label :password_confirmation, 'パスワード(確認)', class: 'block mb-1' %>
      <%= new_user.password_field :password_confirmation, class: 'py-2 px-3 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full', placeholder: '6文字以上' %>
    </div>
    <div class="mb-4">
      <%= new_user.label :user_image, 'ユーザー画像', class: 'block mb-1' %>
      <%= new_user.file_field :user_image, class: 'py-2 px-3 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full' %>
    </div>
    <div class="mt-6">
      <%= new_user.submit "上記の内容で登録する", class: 'w-full inline-flex items-center justify-center px-4 py-2 bg-red-600 border border-transparent rounded-md font-semibold capitalize text-white hover:bg-red-700 active:bg-red-700 focus:outline-none focus:border-red-700 focus:ring focus:ring-red-200 disabled:opacity-25 transition cursor-pointer' %>
    </div>
    <% end %>
  </div>
</div>
