<!-- slide show -->
<div class="previews h-full">
  <div class="slider">
    <%= image_tag 'slide', style: 'height: 600px;' %>
    <%= image_tag 'slide2', style: 'height: 600px;' %>
    <%= image_tag 'slide3', style: 'height: 600px;' %>
  </div>
</div>
<!-- /slide show -->
<!-- latest items -->
<section class="text-gray-600 body-font">
  <h1 class="mt-16 text-center font-bold text-xl">新着アイテム</h1>
  <div class="container px-5 py-16 mx-auto">
    <div class="flex flex-wrap -m-4">
      <% @items.each do |item| %>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <%= link_to image_tag(show_url(item.image_path), class: 'object-cover object-center w-full h-full block', alt: item.title), item.url, class: 'block relative h-48 rounded overflow-hidden', target: 'blank' %>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
          <h2 class="text-gray-900 title-font text-lg font-medium"><%= link_to item.title, item.url, class: 'hover:text-blue-500 hover:underline' %></h2>
          <%= link_to item_path(item.id) do %>
          <button class="mt-2 border border-blue-400 p-1 rounded-lg text-blue-400 hover:bg-blue-400 hover:text-white">詳細</button>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>
<!-- /latest items -->
